<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        <header>
            {% block header %}
            <h1>{{ title }}</h1>
            {% endblock %}
            {% include "theme.html" ignore missing %}
        </header>
        <div class="layout-container">
            <section id="sidebar">
                {% block nav %}
                <nav aria-labelledby="nav-header">
                    <h2 id="nav-header">Navigation.</h2>
                    <ul>
                        {%- for webpage in collections.navigation -%}
                        <li>
                            <a href="{{ webpage.url | url }}" {% if page.url == webpage.url %} aria-current="page"{% endif %}>
                                {{ webpage.data.title }}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </nav>
                <!-- <h2 >Social Media</h2>
                {% include "social.html" %} -->
                {% endblock %}
            </section>
            <main class="h-card">
                {% block content %}
                <article>
                    {{ content | safe }}
                </article>
                {% endblock %}
            </main>
            {% include "mars.html" %}
        </div>
    </body>
</html>
