<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
        <link rel="stylesheet" href="css/style.css" />
        <title>{{ title }}</title>
    </head>

    <body>
        <header>Hello, welcome to my website.</header>
        <main class="container">

            <p>
                My name is Amy, I’m a {{ resume.title }}. I’ve been working at
                {{ resume.experience[0].company }} since
                {{ resume.experience[0].startDate }}. {% year %}
            </p>

            {% if github.commit %}
            <section class="github-commit">
                <p>latest site commit:</p>
                <date>{{ github.commit.date }}</date>
                <p>“{{ github.commit.msg }}” - {{ github.commit.author }}</p>
            </section>
            {% endif %}
        </main>
        <!-- if mars -> <aside>
            <img src="{{ mars.img }}">
            <ul>
                <li>{{ mars.rover }}</li>
                <li><date>{{ mars.date }}</date></li>
            </ul>
        </aside> -->
        <footer>
            2012 - {% year %}
        </footer>
    </body>
</html>
