<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        <header>
            <marquee>Hello, welcome to my website.</marquee>
        </header>
        <main class="container">
            {% block content %}
            <p>
                My name is Amy. I’m a {{ resume.title }}. I’ve been working at
                {{ resume.experience[0].company }} since
                {{ resume.experience[0].startDate }}.
            </p>
            {% endblock %}
        </main>
        {% include "mars.html" %}
    </body>
</html>
