<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        <header>
            {% block header %}
            <h1>Amy Churchwell</h1>
            {% include "social.html" %}
            {% endblock %}
        </header>
        <div class="layout-container">
            <section id="sidebar">
                <!-- {% include "theme.html" ignore missing %} -->
                {% block nav %}
                <nav aria-labelledby="nav-header">
                    <ul>
                        {%- for webpage in collections.navigation -%}
                        <li>
                            <a href="{{ webpage.url | url }}" {% if page.url == webpage.url %} aria-current="page"{% endif %}>
                                {{ webpage.data.title }}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </nav>
                {% endblock %}
            </section>
            <main>
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
            </main>
        </div>
    </body>
</html>
