<section class="h-feed">
    <h1 class="p-name"><a href="/feed" class="u-url">My h-feed</a></h1>
    <div class="h-entry">
        <a href="/entry/1" class="u-url p-name">Entry #1</a>
    </div>
    <div class="h-entry">
        <a href="/entry/2" class="u-url p-name">Entry #2</a>
    </div>
    ...
    <div class="h-entry">
        <a href="/entry/5" class="u-url p-name">Entry #5</a>
    </div>
    <a href="/next" rel="next">Next</a> —
    <a href="/previous" rel="prev">Previous</a>
    <a class="h-card u-url u-uid p-name">Jane S. Doe</a>
</section>
