@import url('normalize.css');
@import url('fontello.css');

/* custom properties */
:root {
    --background: #1f211e;
    --text: #efd3d7;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-flow: column wrap;
    font: 0.9em monospace;
    justify-content: center;
    line-height: 1.5;
    margin: 15px auto;
    max-width: 80ch;
    padding: 0 15px;
    position: relative;
}

header {
    border-bottom: 1px solid var(--text);
    text-align: center;
}

header h1 {
    float: left;
}

/* elements */

p {
    line-height: 2;
}

a {
    color: var(--text);
}

hr {
    border: none;
    border-top: 1px dashed var(--text);
}

/* homepage */
.social {
    padding: 0;
    text-align: center;
}

.social li {
    display: inline-block;
    list-style: none;
}

.social li a {
    text-decoration: none;
}

/* site navigation */

[aria-current="page"] {
    background-color: var(--text);
    color: var(--background);
}

nav {
    float: right;
    text-align: left;
    border-left: 1px solid var(--text);
}

#nav-header {
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 1em;
}

nav ul {
    padding: 0;
}

nav li::before {
    content: "\2500";
}

nav li::marker {
    content: none;
}


/* resume */

.technologies li {
    list-style: none;
    display: inline-block;
}

.notice {
    padding: 5px 10px;
    border: 1px solid cyan;
    color: cyan;
    max-width: 50ch;
}

/* a11y hidden */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Mars Photo */

.mars-rover table {
    margin: 0 auto;
    max-width: 60ch;
    overflow: auto;
}

.mars-rover thead {
    background-color: var(--text);
    color: var(--background);
}

.mars-rover tbody {
    text-align: left;
}

.mars-rover img {
    max-width: 100%;
}
