@import url('normalize.css');

/* custom properties */
:root {
    --background: #1f211e;
    --text: #efd3d7;
}

[data-theme='light'] {
    --background: #efd3d7;
    --text: #1f211e;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-flow: column wrap;
    font: 0.9em monospace;
    justify-content: center;
    line-height: 1.5;
    margin: 15px auto;
    max-width: 80ch;
    padding: 0 15px;
}

header {
    border-bottom: 1px solid var(--text);
    text-align: center;
}

header h1 {
    float: left;
}

/* elements */

p {
    line-height: 2;
}

a {
    color: var(--text);
}

hr {
    border: none;
    border-top: 1px dashed var(--text);
}

/* site navigation */

[aria-current='page'] {
    background-color: var(--text);
    color: var(--background);
}

nav {
    float: right;
    text-align: left;
    border-left: 1px solid var(--text);
}

#nav-header {
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 1em;
}

nav ul {
    padding: 0;
}

nav li::before {
    content: '\2500';
}

nav li::marker {
    content: none;
}

/* theme toggle */

#settings {
    display: inline-block;
    margin: 0.67em 0;
}

.theme-toggle {
    --size: 2rem;
    -webkit-tap-highlight-color: transparent;

    aspect-ratio: 1;
    background: none;
    block-size: var(--size);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    inline-size: var(--size);
    outline-offset: 5px;
    padding: 0;
    touch-action: manipulation;
}

@media (hover: none) {
    .theme-toggle {
        --size: 48px;
    }
}

.theme-toggle svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
}

.theme-toggle svg > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
}

.theme-toggle svg > :is(.moon, .sun) {
    fill: var(--text);
}

.theme-toggle svg > :is(.sun-beams) {
    stroke: var(--text);
    stroke-width: 2px;
}

[data-theme='dark'] .theme-toggle svg > .sun {
    transform: scale(1.75);
    transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
    transition-duration: 0.25s;
}

[data-theme='dark'] .theme-toggle svg > .sun-beams {
    opacity: 0;
    transition-duration: 0.15s;
}

[data-theme='dark'] .theme-toggle svg > .moon > circle {
    transform: translateX(-8px);
    transition-duration: 0.5s;
}

@media (prefers-reduced-motion: no-preference) {
    .sun {
        transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
    }

    .sun-beams {
        transition: transform 0.5s cubic-bezier(0.5, 1.5, 0.75, 1.25),
            opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);
    }
    .moon > .circle {
        transform: translateX(-7px);
        transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    }
}

/* resume */

#technologies li {
    list-style: none;
    display: inline-block;
}

#technologies li:not(:last-child)::after {
    content: ',';
}

#resume section {
    border-top: 1px solid var(--text);
}

#resume h4::before {
    content: '> ';
}

/* a11y hidden */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Mars Photo */

.mars-rover table {
    margin: 0 auto;
    max-width: 60ch;
    overflow: auto;
}

.mars-rover thead {
    background-color: var(--text);
    color: var(--background);
}

.mars-rover tbody {
    text-align: left;
}

.mars-rover img {
    max-width: 100%;
}
