@import url('normalize.css');

/* custom properties */
:root {
    --background: #1f211e;
    --text: #efd3d7;
}

body {
    font: 0.9em monospace;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--background);
    max-width: 80ch;
    margin: 15px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header {
    border-bottom: 1px solid var(--text);
}

/* site navigation */

[aria-current="page"] {
    background-color: var(--text);
    color: var(--background);
}

nav li::before {
    content: "\2500";
}

nav li::marker {
    content: "\251C";
}

nav li:last-child::marker {
    content: "\2514";
}

a {
    color: var(--text);
}

/*-- resume --*/

.technologies li {
    list-style: none;
    display: inline-block;
}

/*-- a11y hidden --*/

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*-- Mars Photo --*/

.mars-rover table {
    max-width: 60ch;
    overflow: auto;
    margin: 0 auto;
}

.mars-rover thead {
    background-color: var(--text);
    color: var(--background);
}

.mars-rover tbody {
    text-align: left;
}

.mars-rover img {
    max-width: 100%;
}
