---
title: about
layout: 'base.html'
permalink: /
---

{% block content %}

<article class="about">
    <img src="../assets/img/rainbow-sticker.png" alt="rainbow sticker" class="rainbow sticker"/>
    <img src="../assets/img/star-sticker.png" alt="star sticker" class="star sticker"/>

    <p>
        <a href="{{ site.url }}" class="p-name u-url" rel="me">Amy Churchwell</a>
        (<span class="p-pronoun-nominative">she</span>/<span class="p-pronoun-oblique">her</span>)

        is an artist based in the <span class="p-region">Pacific Northwest</span>, <span class="p-region">U.S.A</span>.
    </p>
    <p>
        Say hello at
        <strong><a href="mailto:hello@amychurchwell.com">hello@amychurchwell.com</a></strong>
    </p>

    {% include "social.html" %}
</article>

{% endblock %}
