---
title: paintings
layout: 'base.html'
excludeFromNavigation: true
---

{% block content %}
    <ul class="gallery">
    {% for img in paintings %}
        <li>
            <figure>
            <img
                src="{{ img.src }}"
                alt="{{ img.alt }}"
                loading="lazy"
                decoding="async"
            />
            {# <figcaption>{{ img.alt }}</figcaption> #}
            </figure>
        </li>
    {% endfor %}
    </ul>
{% endblock %}