---
title: resume
layout: 'base.html'
---

{% block content %}
<article itemscope itemtype="http://schema.org/Person" id="resume">
    <h1>{{ resume.name | title }}</h1>
    <p>{{ resume.description }}</p>
    <section class="technologies">
        <h2>Technologies</h2>
        <ul>
            {% for technology in resume.technologies %}
                <li>{{ technology }}</li>
            {%- endfor -%}
        </ul>
    </section>
    <section>
        <h2>Experience</h2>
        {% for experience in resume.experience %}
            <h3>{{ experience.role | title }} - {{ experience.company | title }}</h3>
            <date>
                {{ experience.startDate }}
                {% if experience.endDate > experience.startDate %}
                    - {{ experience.endDate }}
                {% else %}
                    - Present
                {% endif %}
            </date>
            <ul>
                {% for highlights in experience.highlights %}
                    <li>
                        {{ highlights }}
                    </li>
                {%- endfor -%}
            </ul>
            {% for project in experience.projects %}
                <h4>{{ project.title }}</h4>
                <p>{{ project.description }}</p>
                <ul>
                    {% for details in project.details %}
                        <li>
                            {{ details }}
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endfor -%}
        {%- endfor -%}
    </section>
    <section>
        <h2>Education</h2>
        {% for education in resume.education %}
        <h3>{{ education.school }}</h3>
        <date>{{ education.startDate }} - {{ education.endDate }}</date>
        <p>{{ education.description }}</p>
        {%- endfor -%}
    </section>
</article>
{% endblock %}

